*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: px;
}
nav{
  width: 100%;
  height: 80px;
  background-color: black;
  line-height: 40px;
  padding-top: 0px;
  padding-left: 100px;
  position: fixed;
}
nav .logo p{
  font-size: 20px;
  font-weight: bold;
  color: white;
  float: left;
  letter-spacing: 1.5px;
  cursor: pointer;
  padding-top: 23px;
}
nav ul{
  float: right;
  padding-top: 23px;
}
nav li{
  display: inline-block;
  text-decoration: none;
  
}
nav li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  padding: 0px 40px;
}
.image{
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 100vh;
}