body{
  height: 3000px;
}
.d1{
  position: relative;
}
.d2{
  position: absolute;
  background-color: black;
  color: white;
  font-family: Roboto, Arial;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  right: 10px;
  border-radius: 50%;
  font-size: 33px;
  top: 6px;
}
.newdiv{
  width: 320px;
  height: 180px;
  background-color: gray;
  position: absolute;
  bottom: 15px;
  right: 15px;
  position: fixed;
}
.close{
  position: absolute;
  background-color: black;
  color: white;
  font-family: Roboto, Arial;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 50% ;
  font-size: 25px;
  top: -18px;
  left: -15px;
}
.timestamp{
  background-color: black;
  color: white;
  font-family: Roboto, Arial;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 15px;
}
.pr{
  position: relative;
  display: inline-block;
}
.pa{
  position: absolute;
  color: white;
  background-color: black;
  top: 10px;
  right: 4px;
  font-family: Roboto,Arial;
  font-size: 13px;
  padding-left: 4px;
  padding-right: 8px;
}