body{
  height: 3000px;
  margin-right: 100px;
}
.br{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  background-color: black;
}
.right-bar{
  background-color: green;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  color: white;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mt{
  width: 300px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}
.modal-title{
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}
.modal-content{
  font-family: Arial;
  margin-bottom: 12px;
}