
.video-dashboard{
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 24px;
  margin-bottom: 2px;
}
.video-stats{
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.video-author{
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.video-description{
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}
.apple-text{
  font-family: Arial;
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.span-example{
  cursor: pointer;
}
.span-example:hover{
  text-decoration: underline;
}
.Tahoma-style{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.arial-style{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial;
  margin-bottom: 3px;
}
.sale-style{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  margin-top: 0;
  font-family: Arial;
}
.bold-style{
  font-family: Verdana;
  margin-top: 4px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}
.beginner-style{
  color: gray;
  margin-top: 0;
}
.course-style{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 4px;
  width: 320px;
  margin-bottom: 15px;
}
.getstarted-button{
  background-color: green;;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border: none;
}
.shop-text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-bottom: 3px;
}
.work-text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 8px;
  font-size: 27px;
  text-align: center;
}
.learn-text{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 26px;
  color: blueviolet;
}
.new-text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 20px;
  text-align: center;
  color: red;
  font-size: 20px;
  margin-bottom: 5px;
}
.mac-text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4px;
}
.super-text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4px;
}
.dollar-text{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 0;
}
.Buy{
  background-color: rgb(0, 113, 227);
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: none;
}
.bore{
  text-align: center;
}
.number-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 3px;
}
.usd{
  font-size: 19px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
.today-text{
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  font-size: 16px;
  margin-bottom: 0;
}
.after-text{
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  margin-top: 3px;
}
.hours-text{
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}
.fcp-text{
  font-family: Arial, Helvetica, sans-serif;
}
.space-text{
  margin-right: 3px;
  margin-bottom: 4px;
  font-weight: bold;
}
.hour-text{
  color: gray;
}
.wd-text{
  width: 500px;
  margin-top: 0;
}
.shhh-text{
  margin-bottom: 5px;
}
.acc-text{
  color: rgb(0, 113, 227);
  margin-right: 3px;
}