p{
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.td-text{
  text-decoration: underline;
}
.order-text{
  font-size: 35px;
  margin-bottom: 10px;
}
.model-text{
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
}